body{
    margin:0;
    background-color:rgb(171, 204, 187);
}

.layout{
    display:flex;
    flex-direction:row;
    height:100vh;
    margin:200px;

}

h1{
    color:blue;
}


.left{
    background-image:url(photos/flower.jpg);
    color:red;
    display:flex;
    flex:.8;
    border-right:solid 5px black;
}

.right{
    display:flex;
    flex-direction:column;
    flex:1.5;
}

.right-container{
    display:flex;
    flex-direction:column;
    flex:1;
}
.top{
    padding-left:50px;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    background-color: rgb(237, 237, 237);
    flex:1.5;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:21px;
    font-weight:600;
    padding-bottom:50px;
    gap:0px;
    
}


.top div{
    width:600px;
}
.last{
    gap:20px;
    padding-top:20px;
}

.middle{
    background-color: rgb(221, 238, 244);
    flex:1;
}

.bottom{
    background-color:rgb(237, 237, 237);
    flex:1.5;
}
