body{
    margin:0;
}

.layout{
    display:flex;
    flex-direction:row;
    height:100vh;

}

h1{
    color:blue;
}


.left{
    background-image:url(photos/flower.jpg);
    color:red;
    display:flex;
    flex:1;
    border-right:solid 5px black;
}

.right{
    display:flex;
    flex-direction:column;
    flex:1.2;
}
.top{
    display:flex;
    flex-grow:1;
    background-color:rgb(248, 250, 248);
}

.middle{
    display:flex;
    flex-grow:1.4;
    background-color:rgb(211, 206, 206);
}

.bottom{
    display:flex;
    flex-grow:1;
    background-color:rgb(248,250,248);
}